* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --heading-color: #28283d;
  --primary-color: #4d96a9;
  --button-secondary: #855fb1;
  --button-text-version: #8fe3f9;
  --text-color: #87879d;
  --button-primary-hover: #71c0d4;
  --button-secondary-hover: #b18bdd;
}
body {
  font-family: 'Red Hat Display', sans-serif;
}
header {
  padding: 2rem;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
}
header img {
  margin-inline: auto;
  display: block;
}

.banner {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1fr) 1fr;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  place-items: center;
}
.banner img {
  width: 100%;
}
.banner img:last-child {
  align-self: flex-end;
}
.banner__middle {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  flex: 0.3;
}
.banner__middle h1 {
  font-size: 2.5rem;
}
.banner_btn-group{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.btn{
  padding: 0.5rem  1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 0.4rem solid transparent;
  transition: all 0.3s ease-in-out;
  color: white;
}
.green_btn{
  background-color: var(--primary-color);
}
.purple_btn{
  background-color: var(--button-secondary);
}