* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --heading-color: #28283d;
  --primary-color: #4d96a9;
  --button-secondary: #855fb1;
  --button-text-version: #8fe3f9;
  --text-color: #87879d;
  --button-primary-hover: #71c0d4;
  --button-secondary-hover: #b18bdd;
}
body {
  font-family: 'Red Hat Display', sans-serif;
}
header {
  padding: 2rem;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
}
header img {
  margin-inline: auto;
  display: block;
}

.banner {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1fr) 1fr;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  place-items: center;
}
.banner img {
  width: 100%;
}
.banner img:last-child {
  align-self: flex-end;
}
.banner__middle {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  flex: 0.3;
  padding: 1rem;
}
.banner__middle h1 {
  font-size: 2.5rem;
}
.banner__middle p {
  color: var(--text-color);
}
.banner_btn-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 0.4rem solid transparent;
  transition: all 0.3s ease-in-out;
  color: white;
}
.green_btn {
  background-color: var(--primary-color);
}
.purple_btn {
  background-color: var(--button-secondary);
}
.purple_btn:hover {
  background-color: var(--button-secondary-hover);
}
.green_btn:hover {
  background-color: var(--button-primary-hover);
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
  flex-wrap: wrap;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.padding-sm {
  padding: 1rem;
}
.container {
  max-width: 1000px;
  margin-inline: auto;
}
.margin-bottom-sm {
  margin-bottom: 2rem;
}
.margin-bottom-lg {
  margin-bottom: 9rem;
}
.feature {
  margin-top: 14rem;
  text-align: center;
  position: relative;
}

.feature > .number::before {
  content: '02';
  top: auto;
  bottom: -170px;
  z-index: 4;
  background-color: white;
}
.feature > .number::after {
  top:auto;
  bottom: -120px;
}
.number::before {
  position: absolute;
  content: '01';
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading-color);

}

.number::after {
  position: absolute;
  width: 1px;
  height: 100px;
  content: '';
  top: -190px;
  background-color: var(--text-color);
  transform: translateX(-50%);
}
.feature_imgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
.feature_img {
  border-radius: 10px;
  width: 100%;
}
.feature h3 {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  margin-top: 1.5rem;
}
.feature h2 {
  font-size: 2rem;
  font-weight: bolder;
}
.uppercase {
  text-transform: uppercase;
}
.paragraph {
  max-width: 500px;
  text-align: center;
  width: 100%;
  margin-inline: auto;
  color: var(--text-color);

}
.footer {
  padding: 2rem 1rem;
  background-image: url('/assets/desktop/image-footer.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  color: white;
  z-index: 2;
}
.footer h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}
.footer_content {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 2rem;
  place-items: center;
}

.footer::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 0.75;
  background-color: var(--button-primary-hover);
  z-index: -1;
}

@media (max-width: 930px) {
  .footer_content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .feature_imgs {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner {
    grid-template-columns: 1fr 1fr;
  }
  .banner__middle {
    grid-row: 2/3;
    grid-column: 1/3;
    max-width: 400px;
  }
  .banner_btn-group {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    width: 60%;
  }
 
}
